
<!-- BEGIN Social Networks -->
<div class="row">
    <div class="col-md-12 text-center">
        <h2>Find us in social networks</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-12 text-center">
        <ul class="social-networks scale-it">
            <li><a class="twitter" href="#"></a></li>
            <li><a class="facebook" href="#"></a></li>
            <li><a class="google-plus" href="#"></a></li>
            <li><a class="behance" href="#"></a></li>
            <li><a class="dribbble" href="#"></a></li>
            <li><a class="linkedin" href="#"></a></li>
        </ul>
    </div>
</div>
<!-- END Social Networks -->