@using MainSite.Core
@{
    ViewBag.Title = "Contacts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/flexslider.css")">

@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.flexslider.js")"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
}


<div class="row">
    <h2 class="col-md-8 col-md-offset-2">
        How to find us
    </h2>
</div>

<hr class="medium" />

<div class="row">
    <div class="col-md-8">

        <h3>Contact us</h3>
        <p>
            Have an existing software system but it's working too slow? <br />
            Looking how automate own business? <br />
            Have security leaks in your projects? <br />
            Please write us and we'll contact with you ASAP.
        </p>

        @if (ViewBag.Send != null)
        {
            ViewBag.Send = null;
            <h3>Thanks! We will review your request.</h3>
        }


        <!-- Begin Contact Form -->
        @using (Html.BeginForm("Contact", "Home", FormMethod.Post, new { @id = "contact" }))
        {
            <div class="row">
                <div class="form-group col-sm-6">
                    <input type="text" class="form-control" id="name" placeholder="Your name">
                </div>
                <div class="form-group col-sm-6">
                    <input type="email" class="form-control" id="email" placeholder="Email">
                </div>
            </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <textarea class="form-control" id="message" placeholder="Message"></textarea>
                    </div>
                </div>
                    <button type="submit" class="btn btn-custom no-margin yellow">Submit Message</button>
        }

        <!-- End Contact Form -->
    </div>

    <!-- Begin Address -->
    <div class="col-md-4">
        <h3>Postal address</h3>
        <div class="jumbotron custom-jumbotron">
            <address>
                <strong>@SiteSettings.CompanyName</strong><br>
                Zarechanskaya street 5/3<br>
                Office 405<br>
                Ukraine 29000 Kmelnitskiy
            </address>

            <address>
                <strong>Phone</strong><br>
                <abbr title="Phone">P:</abbr>
                +38 (098) 043-43-22
            </address>

            <address class="no-margin">
                <strong>Email Address</strong><br>
                <a href="mailto:#">@SiteSettings.CompanyEmail</a>
            </address>
        </div>
    </div>
    <!-- End Address -->
</div>

<hr class="medium" />

<div id="map"></div>

<hr class="bottom" />

<div class="row full-width">
    <div class="subscribe-container">
        <img class="parallax-bg" src=@Url.Content("~/Content/images/subscribe-bg.jpg") alt="" />

        <div class="row">
            <p class="col-md-8 col-md-offset-2">Stay tuned!</p>
        </div>

        <div class="row">
            <!-- Begin Subscribe Form -->
            <form id="subscribe" class="col-md-8 col-md-offset-2" action="#" method="post">
                <input type="text" name="subscribe-email" value="" id="subscribe-email" placeholder="Email address" />
                <input class="btn-custom yellow" type="submit" name="submit" value="Subscribe Now" />
            </form><!-- End Subscribe Form -->
        </div>
    </div>
</div>


