@{
    ViewBag.Title = "Prof IT Group";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section BobyHeader
{
        <!-- BEGIN Home Slider -->
<div id="home-slider">
    <ul id="slides">
        <!-- Slide 1. -->
        <li>
            <div class="bg-image bg1"></div>
            <div class="overlay color-1"></div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-md-6">
                        <h1>Creative Designer</h1>
                        <p>You can change background images and overlay colours in the slider. It is a really easy task to do. You will find this explained in template documentation.</p>
                        <a href="works.html" class="btn btn-custom yellow">Check the Portfolio</a>
                        <a href="#" class="btn btn-custom empty about-me">About Me</a>
                    </div>
                </div>
            </div>
        </li>
        <!-- Slide 2. -->
        <li>
            <div class="bg-image bg2"></div>
            <div class="overlay color-2"></div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-md-6">
                        <h1>Front End Developer</h1>
                        <p>Aliquam viverra enim urna, sit amet feugiat urna cursus eu. Voel placerat diam pellentesque nec. Nam nunc sem, viverra id justo in, scelerisque dignissim nisl.</p>
                        <a href="components.html" class="btn btn-custom yellow">Bootstrap 3</a>
                        <a href="pricing-tables.html" class="btn btn-custom empty">Check Prices</a>
                    </div>
                </div>
            </div>
        </li>
        <!-- Slide 3. -->
        <li>
            <div class="bg-image bg3"></div>
            <div class="overlay color-3"></div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-md-6">
                        <h1>Passionate Blogger</h1>
                        <p>Fusce ullamcorper convallis elit et dictum. Donec porttitor mi elit, dignissim tempus mi interdum ac. Aliquam erat volutpat. Nulla egt rhoncus tortor, eget sodales nunc.</p>
                        <a href="contact.html" class="btn btn-custom filled yellow">Send Me an Email</a>
                        <a href="blog.html" class="btn btn-custom empty">Read the Blog</a>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <ul class="btn-slider">
        <li><a data-id="1" href="#" class="active-slide"></a></li>
        <li><a data-id="2" href="#"></a></li>
        <li><a data-id="3" href="#"></a></li>
    </ul>
    <img class="me img-responsive" src=@Url.Content("~/Content/images/me.png") alt="me" />
</div>
<!-- END Home Slider -->
<!-- Begin Slogan -->
<div class="container">
    <span class="slogan">nice<span class="yellow">&amp;</span>easy<span class="transparent">solutions</span></span>
</div>
}

	<!-- BEGIN MAIN CONTENT -->
<div class="container boxed">

    <div class="row">
        <h2 class="col-md-8 col-md-offset-2">Developer &amp; Designer working as freelancer with over 5 years experience.</h2>
    </div>

    <hr id="about-me" class="medium" />

    <div class="row">
        <div class="col-md-6">
            <h3>The short story about me</h3>
            <p>Lorem ipsum nulla per pharetra habitant eget senectus amet, augue rutrum ac id libero amet felis massa euismod, congue diam egestas faucibus venenatis. Lorem ipsum nulla per pharetra habitant eget senectus amet, augue rutrum ac id libero amet felis massa euismod, congue diam egestas faucibus venenatis.</p>
            <p>Lorem ipsum nulla per pharetra habitant eget senectus amet, augue rutrum ac id libero amet felis massa euismod, congue diam egestas faucibus venenatis.</p>
        </div>
        <div class="col-md-6">
            <h3>What can I do for You</h3>
            <ul class="services list-unstyled">
                <li class="service1">Latest technologies nulla per pharetra habitant eget senectus amet, augue rutrum ac id.</li>
                <li class="service2">Responsive design per pharetra habitant eget senectus amet, augue rutrum ac id habitant eget senectus.</li>
                <li class="service3">Innovation and new for nulla per pharetra habitant eget senectus amet, augue rutrum ac id per pharetra habitant eget senectus .</li>
                <li class="service4">Creativite works for nulla per pharetra habitant eget senectus amet, augue rutrum ac id.</li>
            </ul>
        </div>
    </div>

    <div class="row full-width">
        <div class="subscribe-container">
            <img class="parallax-bg" src="images/subscribe-bg.jpg" alt="" />

            <div class="row">
                <p class="col-md-8 col-md-offset-2">Stay informed about latest works. Don't worry, I hate spam too.</p>
            </div>

            <div class="row">
                <!-- Begin Subscribe Form -->
                <form id="subscribe" class="col-md-8 col-md-offset-2" action="#" method="post">
                    <input type="text" name="subscribe-email" value="" id="subscribe-email" placeholder="Email address" />
                    <input class="btn-custom yellow" type="submit" name="submit" value="Subscribe Now" />
                </form><!-- End Subscribe Form -->
            </div>
        </div>
    </div>

    <!-- BEGIN Portfolio Recent Items -->
    <div class="row">
        <h2 class="col-md-8 col-md-offset-2">Check out my portfolio. Here are some sample works from workshop.</h2>
    </div>

    <hr class="bottom" />

    <!-- work 1 -->
    <div class="row">
        <div class="col-md-6">
            <h3>Identity Branding</h3>
            <p>Lorem ipsum nulla per pharetra habitant eget senectus amet, augue rutrum ac id libero amet felis massa euismod, congue diam egestas faucibus venenatis. Lorem ipsum nulla per pharetra habitant eget senectus amet, augue.</p>
            <p>Lorem ipsum nulla per pharetra habitant eget senectus amet, augue rutrum ac id libero amet felis massa euismod.</p>
            <a href="works-single.html">view project</a>
        </div>
        <div class="col-md-6">
            <!-- Button trigger modal -->
            <div class="trigger-modal">
                <a data-toggle="modal" href="#work1"></a>
                <img class="img-responsive" src="images/works/work1.png" alt="" />
            </div>

            <!-- Modal -->
            <div class="modal custom-modal fade" id="work1" tabindex="-1" role="dialog" aria-labelledby="work1" aria-hidden="true">
                <div class="modal-dialog">
                    <img class="img-responsive" src="images/works/big/big-6.jpg" alt="" />
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        </div>
    </div>

    <hr />

    <!-- work 2 -->
    <div class="row">
        <div class="col-md-6">
            <!-- Button trigger modal -->
            <div class="trigger-modal">
                <a data-toggle="modal" href="#work2"></a>
                <img class="img-responsive" src="images/works/work2.png" alt="" />
            </div>

            <!-- Modal -->
            <div class="modal custom-modal fade" id="work2" tabindex="-1" role="dialog" aria-labelledby="work2" aria-hidden="true">
                <div class="modal-dialog">
                    <img class="img-responsive" src="images/works/big/big-2.jpg" alt="" />
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        </div>
        <div class="col-md-6">
            <h3>Retro Text Effect</h3>
            <p>Lorem ipsum nulla per pharetra habitant eget senectus amet, augue rutrum ac id libero amet felis massa euismod, congue diam egestas faucibus venenatis. Lorem ipsum nulla per pharetra habitant eget senectus amet, augue.</p>
            <p>Lorem ipsum nulla per pharetra habitant eget senectus amet, augue rutrum ac id libero amet felis massa euismod.</p>
            <a href="works-single.html">view project</a>
        </div>
    </div>

    <hr />

    <!-- work 3 -->
    <div class="row">
        <div class="col-md-6">
            <h3>Hot Cup &amp; Cakes 24-7</h3>
            <p>Lorem ipsum nulla per pharetra habitant eget senectus amet, augue rutrum ac id libero amet felis massa euismod, congue diam egestas faucibus venenatis. Lorem ipsum nulla per pharetra habitant eget senectus amet, augue.</p>
            <p>Lorem ipsum nulla per pharetra habitant eget senectus amet, augue rutrum ac id libero amet felis massa euismod.</p>
            <a href="works-single.html">view project</a>
        </div>
        <div class="col-md-6">
            <!-- Button trigger modal -->
            <div class="trigger-modal">
                <a data-toggle="modal" href="#work3"></a>
                <img class="img-responsive" src="images/works/work3.png" alt="" />
            </div>

            <!-- Modal -->
            <div class="modal custom-modal fade" id="work3" tabindex="-1" role="dialog" aria-labelledby="work3" aria-hidden="true">
                <div class="modal-dialog">
                    <img class="img-responsive" src="images/works/big/big-7.jpg" alt="" />
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        </div>
    </div>
    <!-- END Portfolio Recent Items -->

    <hr />

    <!-- BEGIN Testimonials -->
    <div class="row">
        <h2 class="col-md-8 col-md-offset-2">Fun projects with awesome people. Some kind words from clients.</h2>
    </div>

    <div class="row testimonials">
        <div class="col-md-4 text-center">
            <img class="client" src="images/client1.jpg" alt="" />
            <span class="client-name">John Smith</span>
            <span class="client-company">Awesome Company - CEO</span>
            <span class="underline"></span>

            <p>Quisque vel massa enim. Proin dapibus, tellus quis rhoncus blandit, justo elit ultricies augue, mauris neque nec orci.</p>
        </div>

        <div class="col-md-4 text-center">
            <img class="client" src="images/client2.jpg" alt="" />
            <span class="client-name">Veronica Mars</span>
            <span class="client-company">www.themeforest.net</span>
            <span class="underline"></span>

            <p>Proin dapibus, tellus quis rhoncus blandit, justo elit ultricies augue, nec pulvinar mauris neque nec orci.</p>
        </div>

        <div class="col-md-4 text-center">
            <img class="client" src="images/client3.jpg" alt="" />
            <span class="client-name">Lynda Van Dyke</span>
            <span class="client-company">Graphics Designer</span>
            <span class="underline"></span>

            <p>Justo elit ultricies augue, nec pulvinar mauris neque nec orci. Quisque vel massa enim. Proin dapibus.</p>
        </div>
    </div>
    <!-- END Testimonials -->

    <hr class="top" />

    <!-- BEGIN Client Logos -->
    <div class="row">
        <div class="col-md-12">
            <img class="client-logos scale-it img-responsive" src="images/client-logos.png" alt="" />
        </div>
    </div>
    <!-- END Client Logos -->

    <hr class="bottom" />

    <!-- BEGIN Social Networks -->
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>Let's become network buddies?</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-center">
            <ul class="social-networks scale-it">
                <li><a class="twitter" href="#"></a></li>
                <li><a class="facebook" href="#"></a></li>
                <li><a class="google-plus" href="#"></a></li>
                <li><a class="behance" href="#"></a></li>
                <li><a class="dribbble" href="#"></a></li>
                <li><a class="linkedin" href="#"></a></li>
            </ul>
        </div>
    </div>
    <!-- END Social Networks -->

    <!-- /////////////////////////////////////////////////////////////////////////////// -->
</div>
